* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #263238;
}

.basic {
  font-size: larger;
  color: aliceblue;
}

.container1 {
  background-color: #005980;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.operation-container {
  width: 49%;
  background-color: powderblue;
  min-height: 240px;
}

.container1 .operation-container h2 {
  text-align: center;
  color: #004d40;
}

.form-container {
  padding: 1px 40px 1px 40px;
}

input[type="text"] { 
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
    font-size: 15px;
    font-weight: bold;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.button {
  background-color: #0d4276;
  border-radius: 2px;
  font-size: 15px;
  justify-content: center;
  line-height: 25px;
  max-width: 600px;
  min-height: 25px;
  min-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 75%;
  margin-top: 6px;
}
.row {
  display: flex;
  margin: 10px;
}

.error {
  font-size: 14px;
  color: rgb(187, 10, 10);
}
.output{
  font-size: 18px;
    font-weight: bold;
    color: rgb(2, 2, 69);
}

/* responsive on i-phones */
@media only screen and (max-width: 500px) {
  .container1 {
    width: 100%;
    display: block;
}
.operation-container {
  width: 100%;
}
.form-container {
    padding: 1px 5px 1px 5px;
}
.button {
   font-size: 12px;
   padding-left: 5px;
   padding-right: 5px;
}
.output {
   font-size: 12px;
}
}

/* responsive on GAlexy */
@media only screen and (max-width: 300px) {
  .form-container {
    padding: 1px 2px 1px 2px;
}
.row {
  display: block;
  margin: 1px 5px 1px 5px;
}
.col-25 {
  width: 100%;
  margin-top: 0px;
}
label {
  padding: 0 0 0 0;
}
.col-75 {
  width: 100%;
}
.button {
  font-size: 15px;
}
.output {
  font-size: 15px;
}
}

/* responsive on i-pads*/
@media only screen and (max-width: 1000px) {
  .container1 {
     padding-bottom: 0px;
  }
  .form-container {
    padding: 1px 2px 1px 2px;
}
.col-25 {
  margin-top: 0px;
    width: 40%;
    margin-top: 6px;
}
}